
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  .gray{
    color: #424242;
  }

  .light-gray{
    color: #727272;
  }
  .bg-light{
    background-color: rgba(255, 144, 14, 0.1);
  }

  /* shared styles */
  .display-flex{
    display: flex;
  }

  /* header styles */
  .navbar{
justify-content: space-around;
  }
  /* navbar styles */
 .nav-items{
    list-style: none;
    margin-right: 28px;
 }
 .nav-link{
    text-decoration: none;
 }
 .navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
 }